body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;

}

#grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

header, main, footer{
    padding: 0.5rem;
}

header{
    font-size: 1.5rem;
    font-weight: 600;
    grid-area: header;
    background-color: #3380e4;
}

header nav{
    display: flex;
    justify-content: space-between;
    position: relative;
}

header nav div{
    display: flex;
    gap: 1rem;
}


.banner {
    padding: 0rem;
    color: rgb(11, 11, 11);
    text-align: center;
    padding: 100px;
    background-image: url(https://cdn.pixabay.com/photo/2023/05/03/22/43/tennis-7968714_1280.png);
    height: 300px;
    margin-bottom: 10px;
}
.banner h1 {
    font-size: 30px;
    margin-bottom: 5px;
}

.banner p {
    font-size: 20px;
    margin-bottom: 15px;
}

.shop-now-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    text-decoration: none;
    background-color: #3380e4;
    color: white;
}


#logo{
    text-decoration: none;
    font-size: 40px;
}

.navbar{
    text-decoration: none;
    display: none;

}

.responsive{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: black;
    margin: 0;
    padding: 0;
    top: 40px;
    width: 100%;
    list-style: none;
}

.responsive a{
    color: white;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;

}

.flex-section {
    margin-bottom: 20px; /* Legg til ønsket mellomrom mellom hver flex-seksjon */
}

main{
    grid-area: main;
}
main section img{
    width: 100%;
}

footer{
    grid-area: footer;
}

#services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:rgb(175, 173, 163);
    padding: 1rem 0;
    justify-content: space-around;
}
#services h2{
    width: 100;
    text-align: center;
}

#services article{
    max-width: 300px;
    width: 100;
    min-width: 200px;
}

@media only screen and (min-width: 600px){
    #grid-container{
        grid-template-areas: "header header header" ". main . " ". footer footer footer";
    }
    .navbar{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
    }

    #ham, .fa-magnifying-glass{
        display: none;
    }

    .flex-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .flex-section img{
        width: 25%;
        padding-right: 10px;
    }
    
    .flex-section section{
        padding: 1rem;
        width: 40%;
        align-self: center;
    }

    .right img{
        order: 1;
    }
}

.main_image{
        width: 500px;
        position: center;
        left: 20px;
        top: 50px;
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    color: #333;
}

footer section {
    margin-bottom: 20px;
}

footer h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

footer nav ul {
    list-style: none;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin-right: 10px;
}

footer nav ul li a {
    text-decoration: none;
    color: #333;
}

footer nav ul li a:hover {
    color: #555;
}

footer .social-media-icons {
    list-style: none;
    padding: 0;
}

footer .social-media-icons li {
    display: inline;
    margin-right: 10px;
}

footer .social-media-icons li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
}

footer .social-media-icons li a:hover {
    color: #555;
}


/* Produksiden*/
.filter-sort-container {
    display: flex;
    justify-content: flex-end; /* Plasser til høyre */
    margin: 10px; /* Juster etter behov */

}

.filter-button, .sort-button {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #3380e4;
    color: white; 
    border: none
}

#add-to-cart {
    display: inline-block;
    padding: 10px 12px;
    background-color: #3380e4;
    color: #fff;
    text-decoration: none;
    font-size: 15px; 
    float: right;
}

.default-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.default-flex h2 {
    flex-basis: 100%;
}

.default-flex article {
    flex-basis: 33%;
    min-width: 300px;
}

.default-flex article img {
    width: 100%;
}


