body{
    background-color:white
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1e61c581;
    
}
.search-bar{
    Font-size: 15px;
    Margin-left: 15px;
    
 }
    
#logo {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #ff5500;
}

main {
    padding: 20px;
}

.default-flex{
    background-image: url(https://cdn.pixabay.https://cdn.pixabay.com/photo/2023/09/20/20/17/skyline-8265564_1280.jpg/photo/2023/07/30/17/00/spider-web-8159);

 }

button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #1e61c581;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    height: 60px;
    width: 150px;
    border-radius: 5px;
    
}

.beste-deals {
    display: flex;
    flex-wrap: wrap;
    gap: 70px; /* Avstand mellom bildene */
    justify-content: center; /* Sentrerer bildene horisontalt */
}

.beste-deals img{
    height: 250px;
    width: 100%;
}

.nyheter{
    display: flex;
    flex-wrap: wrap;
    gap: 70px; /* Avstand mellom bildene */
    justify-content: center; /* Sentrerer bildene horisontalt */
}

.nyheter img{
    height: 250px;
    width: 100%;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #1e61c581;
    
}